/Inheritance/nbproject/private/
/Inheritance/build/
/Multithreading/nbproject/private/
/Multithreading/build/
/Multithread/nbproject/private/
/Multithread/build/
/Class/nbproject/private/
/Class/build/
/JavaMultiThreading/nbproject/private/
/JavaMultiThreading/build/
/File/nbproject/private/
/ZZZ/nbproject/private/
/ZZZ/build/
/Gui_Calculator/nbproject/private/
/Gui_Calculator/build/
/Scientific_Calculator/nbproject/private/
/Scientific_Calculator/build/
/Scientific_Calculator/dist/
/Game_Brick_Break/nbproject/private/
/Game_Brick_Break/build/
/Test_1/nbproject/private/
/Test_1/build/
/Java_Termtest_2/nbproject/private/
/Java_Termtest_2/build/
/Balloon_Shooter/nbproject/private/
/Balloon_Shooter/build/
/com.game.src.main/nbproject/private/
/com.game.src.main/build/
/Object_Oriented_Programming/nbproject/private/
/Object_Oriented_Programming/build/
/Object_Oriented_Programming/dist/